@charset "utf-8";
/*======================================
 [ -Main Stylesheet-
  Theme: Cooper
  Version: 1.0
  Last change: 12/11/2016 ]
  	+++Fonts +++
	++++Typography ++++
	++++General Styles++++
	++++Loader ++++
	++++Content Styles ++++
	++++Fixed-column++++
	++++Button++++
	++++Header++++
	++++Footer+++++
	++++Scroll nav +++++
	++++Section++++
	++++Home++++
	++++404++++
	++++Facts++++
	++++Resume ++++
	++++Services ++++
	++++Order++++
	++++Skills++++
	++++Testimonials++++
	++++Porfolio++++
	++++Video++++
	++++Contacts++++
	++++Map++++
	++++Blog++++
	++++Share++++
	++++Responsive++++
/*-------------Fonts---------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/*-------------General Style---------------------------------------*/
html{
	overflow-x:hidden !important;
	overflow-y:scroll !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 12px;
	height:100%;
	text-align:center;
	background:#454545;
	color:#000;
	font-family: 'gregular', sans-serif;
}

@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
/*--------------Typography--------------------------------------*/



p {
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 10px;
	font-weight:500;
}
blockquote {
	float:left;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 15px solid #eee;
}
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#494949;
}
.text-subtitle {
	float:left;
	width:100%;
	position:relative;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	color:#666;
	padding-bottom:10px;
	text-align:left;
}
.text-title {
	float:left;
	width:100%;
	position:relative;
	font-size:26px;
	font-weight:bold;
	letter-spacing:2px;
	color:#191919;
	text-transform:uppercase;
	text-align:left;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
	margin-bottom:10px;
}
/*------ loader-------------------------------------------------*/
.loader-holder {
	 position:fixed;
	 width:50px;
	 height:50px;
	 top:50%;
	 left:50%;
	 margin-top:-20px;
	 margin-left:-20px;
	 z-index:150;
}
.loader-inner {
	top:0;
	left:0;
	position:absolute;
  	width: 50px;
  	height: 50px;
  	z-index:20;
	-webkit-transition: all 0.4s  ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s   ease-in-out;
	transition: all 0.4s  ease-in-out;
}
.loader {
	float:left;
	width: 50px;
	height: 50px;
	border-left:10px solid #0E2433;
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.loader , .loader:after {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ---------Content Styles--------------------------------------*/
#main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
}
.container{
	max-width: 1024px;
	width:92%;
	margin:0 auto;
	position: relative;
	z-index:5;
}
#wrapper {
	float:left;
	width:100%;
	position:relative;
	background:#fff;
}
.content {
	width:100%;
	position:relative;
	z-index:4;
	float:left;
	padding:0 30px;
	background:#fff;
}
.contact_bg{
	background-position: 34%,50%!important;
}
.content.fscon {
	padding:0 70px;
}
.column-wrap {
	float:right;
	width:70%;
	position:relative;
	padding-right:70px;
}
.column-wrap #wrapper {
	padding:0 30px 60px 30px;
}
.fl-wrap {
	float:left;
	width:100%;
	position:relative;
}
.no-bg {
	/*background:none;*/
}
.full-height {
	height:100%;
}
.full-width-wrap {
	width:100%;
}
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size: cover;
	background-attachment: scroll  ;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
}
.over_bg{
	width: 200px;
	margin: 0 auto;
	height: 200px;
	position:absolute;
	top:40%;
	left:30%;
	z-index: 555;
}


.bg.par-elem {
	height:150%;
	top:-15%;
}
.full-height-parallax {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:2;
}
.respimg {
	width:100%;
	height:auto;
}
.respimg_logo {
	/*width:40%;*/
	width: 100%;
	height:auto;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.2;
}
.hero-wrap {
	position:relative;
	width:100%;
	overflow:hidden;
	height:100%;
	z-index:10;
}
.parallax-title {
	position:absolute;
	top:2%;
	z-index:1;
	font-size:80px;
	color:#0E2433;
	opacity:0.07;
	text-transform:uppercase;
	font-weight:900;
}
.parallax-title.left-pos {
	left:0;
}
.parallax-title.right-pos {
	right:50px;
}
.no-padding {
	padding:0 !important;
}
.dec-list {
	float:left;
	width:100%;
}
.dec-list li {
	float:left;
	width:100%;
	text-align:left;
	position:relative;
	padding:15px 0 15px 40px;
	font-size:12px;
	border-bottom:1px solid #eee;
	font-weight:600;
}
.dec-list li span {
	color:#666;
}
.dec-list li:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f178";
	position:absolute;
	top:15px;
	font-size:16px;
	left:0;
}
.cts-dot {
	display:none;
}
/*------ Fixed-column ------------------------------------------------*/
.fixed-column {
	position:fixed;
	top:0;
	left:0;
	width:30%;
	height:100%;
	padding-left:70px;
	z-index:4;
	-webkit-transform: translate3d(0,0,0);
	overflow:hidden;
}
.progress-bar-wrap {
	position:absolute;
	top:20px;
	left:100px;
	right:30px;
	height:20px;
	z-index:20;
}
.progress-bar-wrap:before {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:1px;
	background:rgba(255,255,255,0.51);
	z-index:1;
}
.progress-bar {
    position:    relative;
    height:      5px;
    width:       0%;
	border-radius:3px;
	z-index:2;
	top:8px;
}
.bg-title {
	position:absolute;
	bottom:-15%;
	left:45%;
	font-size:94px;
	width:100%;
	min-height:200px;
	text-transform:uppercase;
	font-weight:900;
	 -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
	color:#fff;
	font-family: 'gextrabold';
}
.column-image {
	-webkit-transition:all 600ms  ;
	transition:all 600ms  ;
}
.scrbg {
	opacity:0;
}
.mr-top {
	margin-top:30px !important;
}
/* ---------Button--------------------------------------*/
.btn{
	float:left;
	margin-top:10px;
	font-size: 14px;
	color: #fff;
	margin-right:10px ;
	text-align: center;
	width: auto;
	letter-spacing: normal;
	position: relative;
	-moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
	background:#FFD600;
    outline: none;
	padding: 15px 18px;
    display: inline-block;
	border-radius:4px;
}
.btn i{
	padding-right: 10px;
	font-size: 15px;
	background:#0E2433;
	padding: 14px 20px;
	position: absolute;
	top: -2px;
	left: 0;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn.hide-icon span {
	padding: 0 33px;
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
	font-family: 'gregular', sans-serif;
	font-size:10px;
	text-transform:uppercase;
}
.btn.hide-icon i {
	padding: 11px 20px 10px;
	left: -60px;
	height: 100%;
	line-height: 25px;
	display: inline-block;
	position: absolute;
	color:#fff !important;
	top: 0;
}
.btn.hide-icon:hover i{
	left: 0;
}
.btn.hide-icon:hover span {
	padding-left: 59px;
	padding-right: 11px;
}
/*------ Header  ------------------------------------------------*/
header.main-header {
	position:fixed;
	width:70px;
	height:100%;
	/* background:#0E2433; */
	background:#0097e3;
	z-index:20;
	top:0;
	left:0;
	-webkit-transform: translate3d(0,0,0);
}
.logo-holder {
	position:absolute;
	top:60px;
	left:15px;
	width:40px;
}
.logo-holder img {
	width:45px;
	height:auto;
	float:left
}
.nav-button {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top:-15px;
    top:50%;
    left:20px;
    z-index:10;
    cursor:pointer;
}
.nav-button:after {
	content:"Menu";
	position:absolute;
	top:-36px;
	left:-2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	float:left;
	text-align:center;
	font-style:italic;
	color:#fff;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.nav-button:hover:after {
	visibility:visible;
	top:-26px;
	opacity:1;
}
.menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 3px solid #fff;
    width: 100%;
    transition: 0.55s;
}
.menu-top {
    top: 0;
}
.menu-middle {
    top: 10px;
}
.menu-bottom {
    top: 20px;
}
.menu-top-click {
    backface-visibility: hidden;
    top: 10px;
    transform: rotate(45deg);
    transition: 0.55s 0.5s;
}
.menu-middle-click {
    opacity: 0;
}
.menu-bottom-click {
    backface-visibility: hidden;
    top: 10px;
    transform: rotate(-405deg);
    transition: 0.55s 0.5s;
}
.hid-men-wrap {
	width:100%;
	left:0;
	position: absolute;
	top:40%;
	overflow:hidden;
}
.sliding-menu ul {
	margin: 0;
	float: left;
	width:100%;
	overflow:hidden;
}
.sliding-menu li {
	margin: 0;
	position:relative;
	float:left;
	width:100%;
 	/*border-bottom:1px solid rgba(255,255,255,0.18);*/
}
.sliding-menu li:first-child {
	/*border-top:1px solid rgba(255,255,255,0.11);*/
}
.sliding-menu a {
	float:left;
	width:100%;
	padding:12px 5px;
	position:relative;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing:2px;
	color: #fff;
	line-height:30px;
	transition: all 0.3s; 
}
.sliding-menu a:hover{
	margin-left: 5px;
	transition: all 0.3s; 
}
.menu-wrap {
	position: fixed;
	z-index: 19;
	width: 370px;
	top:0;
	bottom:0;
	font-size: 1.15em;
	padding-left:10px;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}
.menu-inner:before {
	content:'';
	position:absolute;
	bottom:20px;
	left:35px;
	right:15px;
	height:1px;
}
.menu {
	position: relative;
	z-index: 1000;
}
.menu-inner   {
	opacity: 0;
	-webkit-transform: translate3d(-160px,0,0);
	transform: translate3d(-160px,0,0);
	-webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0s 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
	transition-timing-function: cubic-bezier(.17,.67,.1,1.27);
}
.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	fill:rgba(0,0,0,0.71);
}
.menu-inner {
	float:left;
	width:100%;
	height:100%;
	position:relative;
	z-index: 1000;
}
.menu-logo {
	position:absolute;
	top:45px;
	left:0;
	width:100%;
}
.menu-logo img {
	width: 90px;
	/*width:150px;*/
	height:auto;
	margin:0 auto;
}
.show-menu .menu-wrap {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.show-menu .menu-wrap,
.show-menu .menu-inner ,
.show-menu .morph-shape  {
	-webkit-transform: translate3d(20px,0,0);
	transform: translate3d(20px,0,0);
}
.show-menu .menu-inner  {
	opacity: 1;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
/*------ Footer ------------------------------------------------*/
.footer-social {
	position:absolute;
	top:25%;
	width:100%;
	z-index:2;
	left:0;

}
.footer-social:before , .footer-social:after {
	content:'';
	position:absolute;
	left:6px;
	right:6px;
	height:1px;
	background:rgba(255,255,255,0.21);
}
.footer-social:before {
	top:-20px;
}
.footer-social:after {
	bottom:-20px;
}
.footer-social li {
	float:left;
	width:100%;
	margin-bottom:8px;
}
.footer-social li a {
	width:30px;
	margin-left:18px;
	height:30px;
	float:left;
	line-height:30px;
	border-radius:100%;
	color:#0E2433;
	background:#f2f2f2;
	-webkit-transition:all 400ms cubic-bezier(0.215,.61,.355,1);
	-moz-transition:all 400ms cubic-bezier(0.215,.61,.355,1);
	-o-transition:all 400ms cubic-bezier(0.215,.61,.355,1);
	transition:all 400ms cubic-bezier(0.215,.61,.355,1);

}
.footer-social li a:hover {
	-moz-box-shadow: 0 0 50px -2px #999;
	-webkit-box-shadow: 0 0 50px -2px #999;
	box-shadow: 0 0 50px -2px #999;
}
.main-footer {
	position:fixed;
	width:70px;
	height:100%;
	/* background:#0E2433; */
	background:#0097e3;
	border-left:1px solid rgba(255,255,255,0.21);

	z-index:120;
	top:0;
	right:0;
	-webkit-transform: translate3d(0,0,0);
}
 .copyright {
	position:absolute;
	bottom:30px;
	left:30px;
	width:270px;
	text-align:left;
	color:#fff;
	font-size:11px;
	font-weight:600;
	letter-spacing:1px;
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.mail-link {
	position:absolute;
	top:20px;
	width:100%;
	left:0;
	font-size:20px;
	color: rgba(255,255,255,0.51);
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    /*color:#fff;*/
}
.mail-link span{
	font-weight: 700;
    font-size: 10px;
    letter-spacing: 2px;
    /*color:#fff;*/
}

/*------ Scroll nav------------------------------------------------*/
.arrowpagenav {
	position:fixed;
	top:50%;
	left:30%;
	width:40px;
	height:110px;
	background:#0E2433;
	z-index:4;
	margin:-55px 0 0 -20px;
	border-radius:26px;
}
.arrowpagenav:before {
	content:'';
	position:absolute;
	top:50%;
	left:10px;
	right:10px;
	height:1px;
	border-top:1px solid rgba(255,255,255,0.21);
}
.arrowpagenav a  {
	width:40px;
	height:40px;
	margin-top:10px;
	float:left;
	line-height:40px;
	font-size:16px;
	color:#fff;
	position:relative;
}
.arrowpagenav a:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	position:absolute;
	color:#fff;
	top:0;
	font-size:16px;
	left:0;
	line-height:40px;
	width:40px;
	height:40px;
}
.arrowpagenav a.cts-down:before {
	content: "\f107";
}
.arrowpagenav a.cts-up:before {
	content: "\f106";
}
.small-pad-sec {
	padding-bottom:10px;
}
.small-sec {
	padding:30px 0;
}
.bold-separator {
	width:70px;
	height:6px;
	background:#000;
	float:left;
	margin-top:15px;
}
.scroll-nav-holder{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	/* background: #0E2433; */
	background: #0097e3;
	float:left;
	width:100%;
	position:relative;
	z-index:6;
	-webkit-transform: translate3d(0,0,0);
}
.scroll-nav ul {
	float:left;
	width:100%;
}
.scroll-nav li {
	float:left;
	border-right:1px solid  rgba(255,255,255,0.21);
	box-sizing:border-box;
	overflow:hidden;
	/* background:#0E2433; */
	background:#0097e3;
}
.scroll-nav li:last-child {
	border-right:none;
}
.scroll-nav li a {
	font-weight:700;
	font-size:10px;
	position:relative;
	float:left;
	width:100%;
	padding:25px 0;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
}
.scroll-nav a.external {
	 background: #585858;
}
.scroll-nav li a span {
	position:relative;
	z-index:2;
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.scroll-nav li a:hover span {
	opacity:0.5;
}
.scroll-nav li a:before  , .scroll-nav li a:after {
	content:'';
	position:absolute;
	height:0;
	width:50%;
	opacity:0;
	z-index:1;
	-webkit-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.scroll-nav li a:before {
 	top:0;
	left:0;
}
.scroll-nav li a:after {
	bottom:0;
	right:0;
}
.scroll-nav li a.act-link:before , .scroll-nav li a.act-link:after  {
	height:100%;
	opacity:1;
}
/*------ section-------------------------------------------------*/
section {
	float:left;
	width:100%;
	position:relative;
	padding:70px 0;
}
section.dec-sec:before {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:50%;
	height:1px;
	border-top:1px dashed #ccc;
}
section.dec-sec:after {
	content:'';
	position:absolute;
	bottom:0;
	left:50%;
	width:7px;
	height:7px;
	border-radius:100%;
	background:#eee;
	margin-bottom:-2px;
	margin-left:15px;
}
.section-title {
	float:left;
	width:100%;
	position:relative;
	padding-bottom:30px;
}
.section-title h2 {
	float:left;
	width:100%;
	padding:6px 0;
	font-size:46px;
	text-align:left;
	color:#0E2433;
	font-family: 'gextrabold', sans-serif;
	font-weight:900;
	text-transform:uppercase;
	letter-spacing:2px;
	position:relative;
}
.section-title h2:before {
	content:'';
	position:absolute;
	top:-15px;
	left:-15px;
	width:100px;
	height:100px;
	background:#eee;
	z-index:-1;
	opacity:0.8;
}
.section-title p {
	float:left;
	text-align:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#494949;
	max-width:500px;
}
/*------ Home -------------------------------------------------*/
.hero-slider-holder {
	position:relative;
	overflow:hidden;
	z-index:2;
}
.hero-wrap-item , .carousel-item  , .error-wrap{
	position:relative;
	width:100%;
	top:50%;
	left:0;
	float:left;
	z-index:6;
}
.hero-wrap-item.single-title-wrap {
	padding-left:15%;
}
.hero-wrap-item.single-title-wrap:before {
	content:'';
	position:absolute;
	top:-50px;
	left:13%;
	width:1px;
	bottom:-50px;
	background:rgba(255,255,255,0.21)
}
.hero-wrap-item.left-her  .container {
	border-left:1px solid rgba(255,255,255,0.21);
	padding:50px 0 50px 40px;
}
.hero-wrap-item.right-her .container  {
	border-right:1px solid rgba(255,255,255,0.21);
	padding:50px 40px 50px 0;
}
.entry-wrap {
	position:absolute;
}
.num-holder3 {
	position:absolute;
	top:50px;
	right:30px;
	width:60px;
	height:30px;
	line-height:30px;
	color:#fff;
	z-index:15;
	font-weight:200;
	background:rgba(255,255,255,0.21);
	border-radius:4px;
}
.hero-wrap .overlay{
	z-index:5;
}
.slnop .num-holder3 {
	top:100%;
	margin-top:-90px;
}
.hero-wrap-item h2 {
	color:#fff;
	font-size:64px;
	float:left;
	width:100%;
	font-family: 'gextrabold';
}

.hero-wrap-item .h_thin {
	color:#fff;
	font-size:64px;
	float:left;
	font-family: 'gextrabold';
}

.hero-wrap-item.left-her {
	text-align:left;
}
.hero-wrap-item.right-her {
	text-align:right;
}
.hero-wrap-item.right-her .btn , .hero-wrap-item.right-her p {
	float:right !important;
}
.hero-wrap-item h4  , .hero-wrap-item h4 a{
	color:#fff;
}
.hero-wrap-item p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#fff;
}

.hero-wrap-item h3 {
	font-size:20px;
	color:#fff;
 	float:left;
	width:100%;
	position:relative;
	font-weight:500;
	padding:10px 0;
}
.hero-wrap-item .h_thick {
font-family: 'glight', sans-serif;
  font-size: 55px;
	color:#fff;
 	float:left;
	position:relative;
	/*padding:10px 0;*/
	margin-top: 0px;
	margin-right: 20px;
}


.hero-slider .overlay {
	opacity:0.4;
}
.customNavigation.gals a {
	position:absolute;
	top:50%;
	width:40px;
	height:40px;
	margin-top:-20px;
	z-index:10;
	line-height:40px;
	color:#fff;
	background:#292929;
	border-radius:4px;
	font-size:12px;
	cursor:pointer;
}
.customNavigation.gals a.next-slide {
	right:30px;
}
.customNavigation.gals a.prev-slide {
	left:30px;
}
.hero-wrap {
	padding:0 70px;
}
.mm-par-wrap{
	 position:absolute;
	 top:5%;
	 right:5%;
	 bottom:5%;
	 left:25%;
	  -webkit-perspective: 1000;
	  z-index:1;
}
.mm-par-wrap:before {
	content:'';
	position:absolute;
	top:-10px;
	left:20%;
	right:-10px;
	bottom:-10px;
	border:1px solid #eee;
	border-left:none;
	box-sizing:border-box;
}
.mm-parallax{
	 -webkit-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
  	-moz-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
  	transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.impulse-wrap {
	/*background:#fff;*/
	/* background: url("../images/bg/10b.jpg"); */
	background: url("../images/bg/Background.png");
	background-position: center;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.hero-item {
	position:absolute;
	top:0;
	left:70px;
	right:70px;
	height:100%;
	z-index:1;
}
.mm-parallax {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	box-shadow: 0 20px 25px 0 rgba(18,17,30,.15);
	border-radius:10px;
}
.impulse-wrap:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	/* width:30%; */
	height:100%;
	background-size: cover;
	background-attachment: scroll  ;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
	/*background:url(../images/impulse.png);*/
	/* background:url(../images/bg/10b.jpg); */
	background:url(../images/bg/Background.png);
}
.single-carousel  .item{
	position:relative;
	overflow:hidden;
}
.carousel-item h3 {
	font-size:36px;
	text-align:center;
	font-weight:800;
	position:relative
}
.carousel-item h3:before {
	content:'';
	position:absolute;
	bottom:-10px;
	left:50%;
	width:50px;
	height:2px;
	margin-left:-25px;
		 -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.carousel-item h3:hover:before {
	width:100px;
	margin-left:-50px;
}
.carousel-item h3 , .carousel-item h3 a {
	color:#fff;
}
.single-carousel .item:before , .single-carousel .item:after {
	content:'';
	position:absolute;
	left:20%;
	right:20%;
	background:rgba(255,255,255,0.41);
	height:1px;
	z-index:2;
}
.single-carousel .item:before {
	top:50px;
}
.single-carousel .item:after {
	bottom:50px;
}
.single-carousel .item .bg {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.bg.hov-rot {
	-webkit-transform: scale(1.2);
	-moz-transform:scale(1.2);
	transform: scale(1.2);
}
.single-carousel .item p , .error-wrap p{
	padding-top:30px;
	font-size:13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#eee;
	text-align:center;
}
/*------ 404 ------------------------------------------------*/
.error-wrap h2{
	color:#fff;
	font-size:154px;
	font-weight:700;
	position:relative;
}
.error-wrap .btn {
	float:none;
	display:inline-table;
}
.error-wrap h2:before {
	content:'';
	position:absolute;
	bottom:-10px;
	left:50%;
	width:50px;
	height:1px;
	margin-left:-25px;
	background:rgba(255,255,255,0.51);
}
.error-wrap p {
	font-size:17px;
}
/*------ facts ------------------------------------------------*/
.inline-facts {
	float:left;
	width:25%;
	box-sizing:border-box;
	position:relative;
}
.inline-facts:before , .inline-facts:after ,.milestone-counter:before , .milestone-counter:after {
	content:'';
	position:absolute;
	width:50px;
	height:50px;
	z-index:1;
	box-sizing:border-box;
}
.inline-facts:before {
	top:0;
	left:10px;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
}
.inline-facts:after {
	top:0;
	right:10px;
	border-top:1px solid #eee;
	border-right:1px solid #eee;
}
.num {
	float:left;
	width:100%;
	font-size:56px;
	color:#333743;
	font-family: 'Montserrat', sans-serif;
	font-weight:900;
	text-transform:uppercase;
	padding-top:10px;
}
.milestone-counter {
	float:left;
	width:100%;
	position:relative;
}
.stats {
	float:left;
	width:100%;
	position:relative;
}
.stats:before {
	content:'';
	position:absolute;
	top:6px;
	bottom:-22px;
	left:20px;
	right:20px;
	z-index:-1;
	background:#f9f9f9;
}
.milestone-counter:before {
	bottom:-35px;
	left:10px;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
}
.milestone-counter:after {
	bottom:-35px;
	right:10px;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
}
.inline-facts h6 {
	font-size:13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#666;
}
.inline-facts i {
	color:#eee;
	position:absolute;
	bottom:-40px;
	left:50%;
	width:30px;
	border-radius:100%;
	margin-left:-15px;
	font-size:26px;
}
/* ---------Resume  --------------------------------------*/
 .custom-inner-holder {
	float:left;
	margin-top:60px;
	width:100%;
	padding-left:20px;
	border-left:1px solid #eee;
}
.custom-inner {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:50px;
}
.custom-inner:last-child {
	margin-bottom:0;
}
.resum-header h3 {
	float:left;
	padding-bottom:20px;
	font-weight:600;
	font-size:18px;
	text-align:left;
}
.resum-header {
	float:left;
	width:100%;
	position:relative;
	padding:30px 10px 30px 70px;
	background:#f9f9f9;
}
.resum-header:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	position:absolute;
	color:#666;
	bottom:10px;
	font-size:70px;
	right:10px;
	opacity:0.08;
	-webkit-transform:  rotate(45deg);
	-moz-transform:   rotate(45deg);
	transform:   rotate(45deg);
}
.resum-header.educ:after {
	content: "\f0b1";
}
.resum-header.workres:after {
	content: "\f0b1";
}
.resum-header.media:after {
	content: "\f19d";
}
.resum-header:before {
	content:'';
	position:absolute;
	top:50%;
	left:-26px;
	width:10px;
	height:10px;
	margin-top:-10px;
	border-radius:100%;
}
.resum-header span {
	font-size:16px;
	text-transform:uppercase;
	width:100%;
	color:#666;
	text-align:left;
	float:left;
}
.resum-header i {
	width:40px;
	height:40px;
	line-height:40px;
	border:1px solid #eee;
	position:absolute;
	border-radius:4px;
	top:50%;
	left:15px;
	margin-top:-40px;
	background:#fff;
}
.custom-inner h4 {
	float:left;
	width:100%;
	padding-bottom:20px;
	font-weight:800;
	text-align:left;
	text-transform:uppercase;
	text-align:left;
}
.custom-inner-dec {
	float:left;
	width:100%;
	margin-top:10px;
	background:#eee;
	height:1px;
}
.custom-inner ul {
	float:left;
	width:100%;
	padding:10px 0 10px 13px;
	list-style:decimal;
}
.custom-inner ul li {
	font-size: 12px;
	float:left;
	width:100%;
	padding:5px 0 5px 10px;
	text-align:left;
	/*font-weight:750;*/
	color:#666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
.custom-inner .content-nav ul {
	position:relative;
	left:0;
	padding:0;
	list-style:none;
}
.custom-inner .content-nav ul li {
	float:left;
	width:50%;
	padding:0;
}
.custom-inner .btn {
	margin-top:20px;
}
/*------  services ------------------------------------------------*/
.sl-tabs {
	float:left;
	width:100%;
	position:relative;
}
.sl-tabs li{
	color: #222;
	float:left;
	width:100%;
	cursor: pointer;
}
.tb-item {
	float:left;
	width:100%;
	padding:20px 10px;
	background:#f9f9f9;
	border-bottom:1px solid #eee;
}
.sl-tabs li i {
	float:left;
	width:100%;
	font-size:28px;
	margin-bottom:10px;
	opacity:0.8;
}
.sl-tabs li i  , .tb-item , .det-box h3 a , .det-box-link  {
	 -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.sl-tabs li h3  , .tab-content h3 {
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
}
.tab-content{
	display: none;
	float:left;
	width:100%;
	position:relative;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
	padding:0 20px 20px 0;
}
.pd_remove{
	padding: 0!important;
}
.tab-content:before {
	content:'';
	position:absolute;
	bottom:0;
	right:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #00C2FF transparent;
}
.tab-content img {
	margin-bottom:10px;
}
.tab-content p {
	font-size:13px;
}
.tab-content.current{
	display: inherit;
}
.tab-content h3 {
	text-align:left;
	float:left;
	width:100%;
	padding:10px 0;
	font-size:18px;
}
.sl-tabs li.current i {
	color:#fff;
}
.price {
	float:left;
	text-align:left;
	margin-top:30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align:left;
	color:#fff;
	position:relative;
	font-size:19px;
	padding:20px 30px;
	background:#0E2433;
}
/*------ order ------------------------------------------------*/
.order-wrap {
	padding:30px 25px;
	margin-top:30px;
	overflow:hidden;
	position:relative;
}
.order-wrap:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f003";
	position:absolute;
	color:#eee;
	top:-30px;
	font-size:50px;
	right:20%;
	opacity:0.46;
	-webkit-transform: scale(5.2)  rotate(45deg);
	-moz-transform:scale(5.2)  rotate(45deg);
	transform: scale(5.2)  rotate(45deg);
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;

}
.order-wrap:hover:before {
	-webkit-transform: scale(3.2)  rotate(25deg);
	-moz-transform:scale(3.2)  rotate(25deg);
	transform: scale(3.2)  rotate(25deg);
}
.order-wrap h4 {
	font-size:24px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align:left;
	color:#000;
	position:relative;
	top:6px;
}
.order-wrap a.ord-link {
	float:right;
	color:#fff;
	font-size:10px;
	font-weight:700;
	padding:15px 20px;
	background:#292929;
	border-radius:6px;
	position:relative;
	text-transform:uppercase;

}
.order-wrap a.ord-link:hover {
	color:rgba(255,255,255,0.51);
}
/*------skills ------------------------------------------------*/
.skills-wrap {
	float:left;
	width:100%;
	position:relative;
}
.skillbar-box {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:50px;
}
.skillbar-bg {
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:14px;
	overflow:hidden;
	background:#eee;
	border-radius:4px;
}
.custom-skillbar-title span {
	float:left;
	font-size:13px;
	margin-top:12px;
	padding-bottom:6px;
	font-weight:600;
}
.custom-skillbar {
	height:14px;
	width:0px;
}
.skill-bar-percent {
	float:right;
	font-size:13px;
	margin-top:13px;
	padding-bottom:6px;
	font-weight:600;
}
.bold-title {
	float:left;
	font-size:24px;
	font-weight:800;
	color:#666;
	text-align:left;
	position:relative;
	padding-bottom:15px;
}
.bold-title:before {
	content:'';
	position:absolute;
	bottom:-5px;
	left:0;
	width:50px;
	height:4px;
}
.piechart-holder {
    padding: 25px 0;
}
.piechart-holder h4 {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
	color:#292929;
	float:left;
	padding:13px 30px;
	background:#eee;
	position:relative;
	border-radius:4px;
}
.piechart-holder h4:before {
	content:'';
	position:absolute;
	width:1px;
	height:120px;
	top:-100px;
	right:10px;
	background:#eee;
	z-index:-1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.chart {
    position: relative;
	float:right;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 26px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.piechart {
    position: relative;
}
.percent {
    display: inline-block;
    font-size: 15px;
    color: #666;
    line-height: 150px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 16px;
}
.angular {
    margin-top: 100px;
}
.angular .chart {
    margin-top: 0;
}
/*--------------Testimonials--------------------------------------*/
.testimonials-slider-holder {
	padding:40px 0;
	margin-bottom:40px;
}
.testimonials-slider-holder .item {
	padding-left:100px;
}
.testi-item p {
	text-align:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color: #999;
	padding:25px 0 30px;
	position:relative;
	font-size:14px;
}
.full-height-section .testi-item p {
	color:#000;
}
.testi-image {
	position:absolute;
	top:50%;
	left:0;
	width:80px;
	height:80px;
	margin-top:-40px;
}
.testi-item img {
	width:80px !important;
	height:80px;
	border-radius:100%;
	margin:0 auto 20px;
}
.testi-text {
	background:#f9f9f9;
	padding:25px;
}
.testi-text:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f10e";
	position:absolute;
	color:#eee;
	/*top:-10px;*/
	/*font-size:50px;*/
	right:20%;
	opacity:0.46;
	-webkit-transform: scale(5.2)  rotate(45deg);
	-moz-transform:scale(5.2)  rotate(45deg);
	transform: scale(5.2)  rotate(45deg);
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.testi-item h3 {
	font-size:18px;
	font-weight:700;
	padding-bottom:15px;
	float:left;
	width:100%;
	text-align:left;
}
.testi-item a.testim-link {
	font-size:14px;
	font-weight:700;
	float:left;
	position:relative;
}
.testi-item a.testim-link:before {
	content:'';
	position:absolute;
	top:-12px;
	left:50%;
	width:70px;
	margin-left:-35px;
	height:1px;
	border-top:1px dotted #ccc;
}
.testimonials-slider-holder .customNavigation a {
	position:absolute;
	bottom:-5px;
	width:40px;
	height:40px;
	cursor:pointer;
	z-index:20;
	line-height:40px;
	font-size:16px;
	border-radius:4px;
}
.testimonials-slider-holder .customNavigation a.next-slide {
	right:50%;
	margin-right:-70px
}
.testimonials-slider-holder .customNavigation a.prev-slide {
	left:50%;
	margin-left:-70px;
}
.testimonials-slider ul.star-rating {
	float:left;
	width:100%;
	margin:4px 0 20px 0;
}
.testimonials-slider ul.star-rating li {
	float:left;
	margin-right:10px;
	font-size:14px;
}
.teti-counter {
	display:inline-table;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color: #999;
	position:relative;
	top:30px;
}
.clients-list:before {
	content:'';
	position:absolute;
	bottom:-20px;
	width:100px;
	height:1px;
	left:50%;
	margin-left:-50px;
	border-bottom:1px  dashed #ccc;
}
.clients-list li  {
	float:left;
	width:20%;
	padding:40px;
	position:relative;
}
.clients-list a  , .clients-list a span{
	position:relative;
	float:left;
	background:#f9f9f9;
}
.clients-list a:before , .clients-list a:after , .clients-list a span:before , .clients-list a span:after {
	content:'';
	position:absolute;
	width:50px;
	height:50px;
	z-index:1;
	box-sizing:border-box;
}
.clients-list a:before {
	top:-10px;
	left:-10px;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
}
.clients-list a:after {
	top:-10px;
	right:-10px;
	border-top:1px solid #eee;
	border-right:1px solid #eee;
}
.clients-list a span:before {
	bottom:-10px;
	left:-10px;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
}
.clients-list a span:after {
	bottom:-10px;
	right:-10px;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
}
.clients-list a:hover {
	opacity:0.6;
}
.clients-list a img {
	float:left;
	width:100%;
	position:relative;
	height:auto;
}
.to-top-wrap{
	float:left;
	width:100%;
	position:relative;
	padding:30px 0;
}
.to-top-wrap i {
	position:absolute;
	top:-35px;
	left:50%;
	width:30px;
	margin-left:-15px;
	font-size:18px;
}
.to-top-wrap a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color: #999;
}
/*------ Porfolio  ------------------------------------------------*/
.gallery-items {
	float:left;
	width:100%;
	position:relative;
}
.grid-item-holder {
	float:left;
	width:100%;
	height:auto;
	position:relative;
	overflow:hidden;
}
.spad .grid-item-holder {
	padding:6px;
}
.min-pad .grid-item-holder {
	padding:2px;
}
.hid-port-info .grid-item-holder {
	overflow:hidden;
}
.grid-big-pad  .grid-item-holder{
	padding:40px;
}
.grid-small-pad  .grid-item-holder{
	padding:10px 20px 10px 0;
}
.gallery-item, .grid-sizer {
	width: 33.3%;
	position:relative;
	float:left;
}
.gallery-item-second,
.grid-sizer-second {
	width: 66.6%;
}
.four-column  .gallery-item{
	width:25%;
}
.four-column  .gallery-item.gallery-item-second{
	width:50%;
}
.gallery-item img, .grid-sizer img {
	width: 100%;
	height: auto;
	position:relative;
	z-index:1;
}
.grid-det {
	background:#f9f9f9;
	padding:18px 10px;
	text-align:left;
	border:1px solid #eee;
	border-top:none;
	box-sizing:border-box;
	overflow:hidden;
}
.grid-det h3 {
	font-weight:700;
	font-size:18px;
	float:left;
	width:100%;
	position:relative;
	padding:10px 0 10px 30px;
	z-index:2;
}
.grid-det h3:hover:before {
	width:100px;
}
.grid-det h3:before {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:20px;
	height:2px;
	margin-top:-1px;
}
.grid-det span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color: #999;
	float:left;
	padding-left:30px;
	position:relative;
	z-index:2;
}
.grid-det i {
	font-size:76px;
	color:#eee;
	position:absolute;
	bottom:-15px;
	right:10px;
 	-webkit-transform:   rotate(35deg);
    -moz-transform:   rotate(35deg);
    transform:   rotate(35deg);
	z-index:1;
}
.inline-filter .gallery-filters {
	float:left;
	border:1px solid #eee;
	margin-bottom:40px;
	border-radius:18px;
	overflow:hidden;
}
.inline-filter .gallery-filters a {
	float:left;
	padding:12px 28px;
	border-radius:18px;
}
.box-item {
	overflow:hidden;
}
.box-item.vis-det:before {
	content:'';
	position:absolute;
	z-index:10;
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
	background:rgba(0,0,0,0.51);
	opacity:0;
	visibility:hidden;
}
.box-item.vis-det a.image-popup , .box-item.vis-det a.popgal {
	position:absolute;
	top:-35%;
	left:50%;
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:-20px;
	margin-top:-20px;
	border-radius:100%;
	z-index:11;
	color:#fff;
	cursor:pointer;
}
.box-item.vis-det:hover:before {
	opacity:1;
	visibility:visible;
}
.box-item.vis-det a.image-popup:hover , .box-item.vis-det a.popgal:hover {
	color:#000;
}
.box-item.vis-det:hover a.image-popup , .box-item.vis-det:hover a.popgal{
	top:50%;
}
.box-item.vis-det  a.image-popup , .box-item.vis-det:before , .grid-det h3:before  , .hd-box-wrap h2:before , .box-item.vis-det a.popgal{
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.inline-filter .folio-counter {
	float:left;
	margin-left:60px;
	position:relative;
	padding:12px 20px;
	border-radius:4px;
}
.inline-filter .folio-counter:before {
	content:'';
	position:absolute;
	left:-30px;
	height:24px;
	top:6px;
	width:1px;
	background:#ccc;
	 -webkit-transform:   rotate(35deg);
    -moz-transform:   rotate(35deg);
    transform:   rotate(35deg);
}
.inline-filter .folio-counter div {
	display:inline-block;
	padding:0 6px;
}
.fixed-filter {
	position:fixed;
	top:10px;
	right:90px;
	width:200px;
	z-index:40;
}
.fixed-filter .filter-button {
	float:left;
	width:120px;
	background:#0E2433;
	padding:15px 0;
	cursor:pointer;
	color:#fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.fixed-filter .filter-button:hover {
	color:rgba(255,255,255,0.51);
}
.fixed-filter .folio-counter {
	float:left;
	width:80px;
	padding:15px 0;
	position:relative;
	font-weight:600;
	color:#333;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.fixed-filter .folio-counter:before {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:10px;
	height:1px;
	margin-left:-5px;
	background:#0E2433;
}
.fixed-filter .folio-counter div {
	display:inline-block;
	padding:0 10px;
}
.fixed-filter .gallery-filters {
	float:left;
	width:100%;
	position:relative;
	background:rgba(51,51,51,0.81);
	padding:10px 20px 15px 20px;
	display:none;
}
.fixed-filter .gallery-filters a {
	float:left;
	width:100%;
	color:#fff;
	padding:12px 0;
	text-align:left;
	border-bottom:1px solid rgba(255,255,255,0.21);
}
.no-pad-wrap {
	padding-left:1px;
}
.box-item.hd-box {
	position:absolute;
	width:100%;
	height:100%;
	left:-100%;
	top:0;
	padding:20px 20px 14px 20px;
	z-index:10;
}
.box-item.hd-box .fl-wrap {
	/*background:rgba(64,64,64,0.61);*/
	background: #0E2433;
	opacity: 0.8;
}
.hd-box-wrap {
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;
	padding:0 30px;
}
.hd-box-wrap h2 {
	text-align:left;
	position:relative;
	color:#fff;
	font-size:18px;
	font-weight:700;
	float:left;
	width:100%;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:40px;
	border-top:1px solid rgba(255,255,255,0.21);
}
.hd-box-wrap h2:before {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	width:30px;
	height:1px;
	margin-top:4px;
	background: #00C2FF ;
	z-index:2;
}
.hd-box-wrap h2:after {
	content:'';
	position:absolute;
	top:0;
	right:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 15px 0;
}
.hd-box-wrap h2:hover:before {
	width:100px;
}
.hd-box-wrap h2 a {
	color:#fff;
}
.hd-box-wrap p {
	text-align:left;
	width:100%;
	font-size:13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#fff;
	float: left;
	padding-left:40px;
}
.three-ver-columns .hd-box-wrap p {
	font-size:11px;
}
.hd-box-wrap p a {
	color:rgba(255,255,255,0.71);
}
.box-item.hd-box .image-popup {
	position:absolute;
	top:30px;
	left:30px;
	z-index:10;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:100%;
	color:#fff;
	cursor:pointer;
}
.slider-zoom {
	position:absolute;
	top:30px;
	right:30px;
	width:36px;
	height:36px;
	border-radius:100%;
	line-height:36px;
	color:#fff;
	z-index:5;
	cursor:pointer;
	background:rgba(64,64,64,0.61);
}
.page-nav {
	float:left;
	width:100%;
	position:relative;
	margin-top:50px;
}
.page-nav:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	background:#eee;
}
.page-nav a {
	padding:13px 20px;
	color:#000;
	border-radius:3px;
	position:relative;
	background:#0E2433;
}
.page-nav a.ppn {
	float:left;
}
.page-nav a.npn {
	float:right;
}
.tooltip , .project-pagination ul li a  , #contact-form input[type="submit"]{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tooltip{
	width:200px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	text-indent: 0px;
	position: absolute;
	background:#454545;
	bottom:0;
	opacity: 0;
	margin-bottom:20px;
	visibility: hidden;
	pointer-events: none;
	z-index:6;
}
.tooltip h5 {
	font-size:10px;
	margin-top:12px;
	padding:5px 0;
	position:relative;
	display:inline-table;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}
.page-nav a:hover .tooltip {
	visibility:visible;
	opacity:1;
	bottom:100%;
}
.page-nav a.npn .tooltip {
	right:0;
}
.page-nav a.ppn .tooltip {
	left:0;
}
.mar-top-50 {
	margin-top:30px;
}
.popup-gallery a {
	float:left;
	width:100%;
	position:relative;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.popup-gallery a:hover {
	opacity:0.6;
}
.box-pop {
	position:relative;
	float:left;
	width:100%;
	overflow:hidden;
}
/*------ Video ------------------------------------------------*/
.iframe-holder {
	float:left;
	position:relative;
	width:100%
}
.resp-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
.resp-video iframe,
.resp-video object,
.resp-video embed  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
}
.background-video {
	z-index:1;
}
.media-container {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-controls {
	position: absolute;
	z-index:4;
	bottom:50px;
	right:150px;
	color:#ccc;
	cursor:pointer
}
.media-container .overlay {
	z-index:3;
	opacity:0.4;
}
.mob-bg {
	display:none;
}
.background-video {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
video,
source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
.loaded .ytplayer-container {
  display: block;
}
.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.ytplayer-player {
  position: absolute;
}
/*------ Contacts------------------------------------------------*/
.contact-info {
	float:left;
	width:100%;
	position:relative;
	padding:20px 0;
	border-bottom:1px  dashed #eee;
}
.contact-info:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #00C2FF transparent;
}
.contact-info h4 {
	text-align:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color: #999;
	float:left;
	width:100%;
}
.contact-info h3 {
	float:left;
	width:100%;
	text-align:left;
	font-size:15px;
	font-weight:700;
	color:#999;
	padding:10px 0;
}
.contact-info a {
	float:left;
	font-size:14px;
	font-weight:700;
}
.contact-social {
	margin-top:30px;
}
.contact-social li {
	float:left;
	margin-right:4px;
}
.contact-social li a {
	width:36px;
	height:36px;
	line-height:36px;
	float:left;
	border-radius:100%;
	background:#eee;
	color:#666;
}
#contact-form {
	float:left;
	max-width:600px;
	padding-top:30px;
}
.input-wrap {
	float:left;
	width:100%;
	border:1px solid #eee;
	position:relative;
	padding-left:30px;
	margin-bottom:12px;
	background:#f9f9f9;
	border-radius:4px;
}
.input-wrap i {
	position:absolute;
	top:13px;
	left:10px;
	color:#999;
	font-size:15px;
}
#contact-form input[type="text"], #contact-form  textarea {
	color: #666;
	font-weight:600;
	font-size: 12px;
	padding: 15px 0;
	width: 100%;
	padding-left:10px;
	background:none;
	border:none;
	border:0;
	border-radius:0;
	position:relative;
}
#contact-form input[type=text]:focus, #contact-form textarea:focus, input[type=email]:focus {
	color:#000;
}
#contact-form textarea {
	height:170px;
	resize:none;
	 background:#f9f9f9;
	 border-radius:4px;
	 border:1px solid #eee;
}
#submit , .controls button	{
	background:none;
	border:none;
	padding:14px 20px;
	line-height:14px;
	cursor:pointer;
	font-size:13px;
	color:#0E2433;
	margin-top:40px;
	font-weight:700;
	-webkit-appearance: none;
	float:left;
	background:#0E2433;
	border-radius:4px;
}
#submit:hover , .controls button:hover{
	background:#292929;
	color:#fff;
}
.error_message {
	text-align:left;
	margin-bottom:30px;
	font-size:16px;
	color:#000;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
#success_page h3{
	text-align:left;
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
#success_page p {
	color:#000;
	margin-top:10px;
}
#message fieldset {
	border:none;
	color:#000;
}
.con-image {
	margin:35px 0;
}
/*------ map - ------------------------------------------------*/
.map-box {
	float:left;
	width:100% ;
	height:400px;
	position:relative;
	margin:40px 0;
}
#map-canvas{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:400px;
}
.map-box.column-map  , .map-box.column-map #map-canvas{
	height:100%;
	margin:0;
}
/* ------blog------------------------------------------------------------ */
article , .pagination {
	float:left;
	width:100%;
	position:relative;
}
.custom-slider .box-links {
	text-align:center !important;
}
article p {
	float:left;
	width:100%;
	padding-bottom:20px;
	text-align:left;
	position:relative;
}
article {
	margin-bottom:20px;
	border:1px solid #eee;
	border-radius:4px;
	overflow:hidden;
	background:#f9f9f9;
}
.post-item {
	padding:10px 20px 20px 20px;
	z-index:2;
}
.artcicle-icon {
	position:absolute;
	right:20px;
	bottom:60px;
	z-index:-1;
}
.artcicle-icon  i {
	font-size:76px;
	color:#ccc;
 -webkit-transform:   rotate(35deg);
    -moz-transform:   rotate(35deg);
    transform:   rotate(35deg);
	opacity:0.6;
}
.display-posts p {
	line-height:25px;
}
article h4 {
	font-size: 24px;
	line-height: 36px;
	font-style: normal;
	font-weight: bold;
	font-weight: 700;
	color: #222222;
	padding-bottom:10px !important;
	text-align:left;
}
article h4 a:hover {
	color:#666;
}
.post-media {
	float:left;
	width:100%;
	position:relative;
	margin:0 0 20px 0 ;
}
.post-meta {
	margin:14px 0 14px 0;
	float:left;
}
.display-posts article {
	border-bottom:1px solid #eee;
	padding:0 0 30px 0;
	margin-bottom:30px;
}
.post-meta li {
	display:inline-block;
	margin-right:8px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:13px;
	color:#666;
	text-align:left;
}
.post-meta li a {
	font-size:15px;
}
.mas-posts article ul.post-meta li {
	margin-bottom:6px;
}
.post-tags {
	float:right;
	position:relative;
	top:20px;
}
.post-tags.single-tags {
	top:0;
	float:left;
	margin-top:30px;
}
.post-tags li , .tagcloud li  {
	margin-left:4px;
	float:left;
}
.post-tags li a , .tagcloud li a {
	float:left;
	font-size: 10px;
	border-radius:4px;
	padding: 8px 10px 8px;
	background: #0E2433;
	margin-bottom: 3px;
	color:#fff;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.post-tags li a:hover , .tagcloud li a:hover {
	color:#292929;
}
.pagination {
	margin-top:20px;
	text-align:center;
	vertical-align: middle;
	border:1px solid rgba(0,0,0,.07);
	border-radius: 4px;
	float:left;
	width:100%;
}
.pagination  a {
	float:left;
	padding: 12px 18px;
	position:relative;
	font-size:13px;
	color:#666;
	letter-spacing:1px;
	border-right:1px solid rgba(0,0,0,.07);
}
.pagination a.current-page, .pagination a:hover {
    color:#fff;
}
.searh-inner {
	max-width:350px;
	position:relative;
	display:block;
}
.searh-holder {
	margin:10px 0 40px;
}
.search {
	border:none;
	border:1px solid #eee;
	float: left;
	background:#f9f9f9;
	border-radius:3px;
	position:relative;
	outline: none;
	padding: 0px 0px 0px 10px;
	width: 100%;
	height: 40px;
	color: #292929;
	-webkit-appearance: none;
}
.search-submit {
	border: none;
	outline: none;
	cursor: pointer;
	background:none;
	position:absolute;
	top:0;
	right:0;
	width: 28%;
	height: 40px;
}
.cat-item{
	padding-bottom: 8px;
	margin-bottom: 15px;
}
.cat-item a{
	font-weight: 400;
	font-size: 12px;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
#comments{
	text-align:left;
	padding-top: 10px;
	float:left;
	width:100%;
	margin-top:30px;
}
#comments-title , #reply-title{
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 5px;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
}
.comment{
	float: left;
}
.comment-body{
	position: relative;
	margin-left: 70px;
	padding-top: 30px;
}
.comment-author{
	position: absolute;
	top: 30px;
	left: -66px;
}
.comment-author img{
	border-radius: 100%;
}
.comment .children{
	margin-left: 70px;
}
.fn{
	display: block;
	margin-bottom: 10px;
}
.comment-meta, .comment-meta a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:12px;
	letter-spacing:1px;
	color:#494949;
	padding-bottom:10px;
}
#respond{
	margin-top:40px;
}
#reply-title{
	padding-bottom:30px;
	margin-bottom:5px;
}
.comment-notes{
	margin-top: 10px; color: #a4a4a3;
}
.control-group label, .control-group .controls{
	display: inline-block;
}
.control-group label{
	margin-left: 10px;
	font-weight: 600;
}
.control-group .controls input {
	margin-top: 15px;
	border: none;
	outline: none;
	height: 35px;
	background: #f9f9f9;
	padding-left: 15px;
	color: #a4a4a3;
	text-decoration: none;
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.control-group .controls textarea {
	margin-top: 15px;
	border: none;
	outline: none;
	height: 180px;
	max-width:600px;
	background: #f9f9f9;
	padding-left: 15px;
	padding-top: 15px;
	color: #a4a4a3;
	resize: vertical;
	text-decoration: none;
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.controls button {
	 margin-top:30px;
}
.post-author {
	float:left;
	width:100%;
	padding:30px 0;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	margin:15px 0;
}
.post-author-wrap {
	float:left;
	width:100%;
	position:relative;
	padding-left:100px;
}
.post-author-wrap h3 {
	float:left;
	width:100%;
	text-align:left;
	color:#000;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	margin-top:8px;
}
.post-author-wrap p{
    color: #000;
    font-weight: 500;
    line-height: 20px;
	padding:8px 0;
	float:left;
	width:100%;
}
.post-author-wrap span {
	font-family: Georgia, "Times New Roman", Times, serif;
	float:left;
	text-align:left;
	font-style:italic;
	color:#666;
	width:100%;
}
.post-author-img {
	width:80px;
	height:80px;
	position:absolute;
	top:5px;
	left:0;
	overflow:hidden;
	z-index:2;
}
.post-author-img img {
	width:80px;
	height:80px;
	border-radius:100%;
	float:left;
}
.post-author-wrap ul {
	list-style:none;
}
.post-author-wrap ul li {
	float:left;
	margin-right:8px;
}
.post-author-wrap li a {
	float:left;
	width:36px;
	height:36px;
	background:#0E2433;
	line-height:36px;
	border-radius:100%;
}
/*------ share------------------------------------------------*/
.show-share {
	position:absolute;
	bottom:40px;
	left:22px;
	cursor:pointer;
	width:20px;
	height:20px;
}
.show-share:before {
	content:'';
	position:absolute;
	top:10px;
	left:-5px;
	width:30px;
	height:1px;
	z-index:5;
}
.show-share.isShare:before {
	width:0;
}
.show-share:after {
	content:"share";
	position:absolute;
	top:-36px;
	left:-2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	float:left;
	text-align:center;
	font-style:italic;
	color:#fff;
	opacity:0;
	visibility:hidden;
}
.show-share:before , .show-share:after , .share-icon{
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.show-share:hover:after {
	opacity:1;
	top:-26px;
	visibility:visible;
}
.show-share img {
	width:20px;
	height:20px;
}
.share-container {
	position:fixed;
	z-index:20;
	left:94px;
	bottom:30px;
	visibility:hidden;
	-webkit-transform: translate3d(0,0,0);
}
.visshare {
	visibility:visible;
}
.share-icon {
    height:40px;
    width:40px;
	float:left;
    margin-bottom:1px;
	position:relative;
	font-size:15px;
	line-height:40px;
	background:#fff;
	color: #000;
	opacity:0;
}
.share-icon:hover {
	opacity:0.6 !important;
}
.share-icon:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.share-icon-digg:before {
    content: "\f1a6";
}
.share-icon-email:before  {
    content: "\f003";
}
.share-icon-flickr:before  {
    content: "\f16e";
}
.share-icon-foursquare:before  {
    content: "\f180";
}
.share-icon-rss:before {
    content: "\f09e";
}
.share-icon-facebook:before  {
    content: "\f09a";
}
.share-icon-twitter:before {
    content: "\f099";
}
.share-icon-tumblr:before {
   content: "\f173";
}
.share-icon-linkedin:before {
     content: "\f08c";
}
.share-icon-vimeo:before {
   content: "\f194";
}
.share-icon-instagram:before {
    content: "\f16d";
}
.share-icon-pinterest:before {
    content: "\f0d2";
}
.share-icon-googleplus:before {
   content: "\f0d5";
}
.share-icon-in1:before {
    content: "\f08c";
}
.share-icon-stumbleupon:before {
    content: "\f1a4";
}
@media only screen and  (min-width: 1393px) {
.testi-text:before {
	font-size: 50px;
	top: -10px;
}
}
@media only screen and  (max-width: 1392px) {
.testi-text:before {
	font-size: 50px;
	top: -10px;
}
.abt-wrap .box-item  , .resum-header , .sl-tabs{
	margin-bottom:40px;
}
.bold-title {
	width:100%;
}
.chart {
	float: none;
	display:inline-table;
	margin-top:30px;
}
.piechart-holder h4 {
	width:100%;
}
.piechart-holder h4:before {
	display:none;
}
.hd-box-wrap {
	bottom:10px;
	padding:0 10px;
}
.hd-box-wrap h2 {
	font-size:14px;
}
.contact-social {
	margin-top:30px;
	float:left;
	width:100%;
}
	
}
@media only screen and  (max-width: 1064px) {
.testi-text:before {
	font-size: 50px;
	top: -10px;
}
.mob-bg {
	display:block	
}	
.column-wrap {
	width:100%;
	padding-right:0;
}
.fixed-column , .arrowpagenav  , .footer-social:before , .footer-social:after , .parallax-title  {
	display:none;
}
header.main-header {
	width:100%;
	top:0;
	left:0;
	height:70px;
}
.nav-button {
	top:24px;
	left:30px;
	margin-top:0;
}
.logo-holder {
	top:16px;
	left:50%;
	margin-left:-20px;
}
.show-share {
	bottom:24px;
	left:100%;
	margin-left:-50px;
}
.hero-wrap {
	padding:70px 0 0;
	background:#fff;
}
footer.main-footer {
	width:100%;
	height:70px;
	border-left:none;
	float:left;
	position:relative;
	top:0;
	margin-top:0;
}
.mail-link {
	position: absolute;
    top: 0;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    line-height: 15px;
    left: 100%;
    margin-left: -70px;
    border-left: 1px solid rgba(255,255,255,0.21);
}
.copyright {
	position: relative;
	bottom:0;
	left:30px;;
	width: auto;
	text-align:left;
	margin-top:30px;
	color:#fff;
	font-size:11px;
	font-weight:600;
	letter-spacing:1px;
     -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.footer-social {
	position: relative;
	top:20px;
	width: auto;
	z-index:2;
	float:right;
	margin-right:90px;
}
.footer-social li {
	float:left;
	width: auto;
}
.clients-list li {
    padding: 20px;
}
.hero-slider-holder .gals a {
	top:100%;
	margin-top:-100px;
}
.column-wrap #wrapper {
	padding:0 10px 10px 10px;
}
.share-container {
	position:fixed;
	z-index:20;
	left:100%;
	margin-left:-60px;
	bottom:100%;
	margin-bottom:-290px;
	width:40px;
}
.menu-wrap {
	width: 320px;
	bottom:0;
	top:70px;
	padding:0;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}
.menu {
	position: relative;
	z-index: 1000;
}
.menu-logo {
	position:absolute;
	top:45px;
	left:0;
	width:100%;
}
.show-menu .menu-wrap,
.show-menu .menu-inner ,
.show-menu .morph-shape  {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.content {
    padding: 70px 20px 0;
}
.content .container {
	width:100%;
}
.no-pad-wrap {
	padding-top:70px;
}
.content.no-bg {
	padding-left:0;
	padding-right:0;
}
.fixed-filter {
	top:80px;
	right:20px;
}
.content.fscon {
	padding:70px 0 0 ;
}
.gallery-item {
	width:50% !important;
}
.mm-par-wrap {
	top:calc(5% + 70px);
}
.hero-item {
    top: 70px;
    left:0;
    right: 0;
    height: auto;
	bottom:0;
}
}
@media only screen and  (max-width: 768px) {
.testi-text:before {
	font-size: 40px;
	top: -10px;
}
.inline-facts {
    width: 50%;
	margin-bottom:40px;
}
.testimonials-slider-holder .item {
	padding-left:0;
}
.testi-image {
	position:relative;
	margin:0;
	left:0;
	display:inline-table;
}
.clients-list li {
    padding: 5px;
	width:50%;
}
.hero-wrap-item {
	padding:0 20px;
}
.section-title h2 , .hero-wrap-item h2 {
	font-size:36px;
}
.copyright {
	display:none;
}
.footer-social {
	float:left;
	margin-right:0;
	margin-left:20px;
}
.inline-filter .gallery-filters {
	width:100%;
}
.inline-filter .gallery-filters a {
	padding:12px 0;
	width:100%;
}
.inline-filter .folio-counter {
	float:none;
	margin-left:0;
	display:inline-table;
	margin-bottom:10px;
}
.inline-filter .folio-counter:before {
	left:50%;
	height:24px;
	top:-36px;
	 -webkit-transform:   rotate(0deg);
    -moz-transform:   rotate(0deg);
    transform:   rotate(0deg);
}
.order-wrap a.ord-link {
	float:left;
	margin-top:30px;
}
}
@media only screen and  (max-width: 540px) {
.testi-text:before {
	font-size: 30px;
	font-size: 18px;
    top: -87px;
    left: 214px;
}
.scroll-nav-holder {
	display:none;
}
.inline-facts , .gallery-item {
    width:100% !important;
}
.footer-social {
	float:left;
	margin-right:0;
	margin-left:-5px;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.bg {
	background-attachment: scroll !important;
	-webkit-background-size:cover;
	background-position:center;

}
}


/* Fonts */
@font-face {
    font-family: 'gextrabold';
    src: url('./../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('./../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'glight';
    src: url('./../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('./../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gregular';
    src: url('./../fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('./../fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}